<div id='signup'>
  <h1>signup</h1>
  <form name="signupForm" ng-submit='signup(signupForm.$valid)' nonvalidate>
    <input type='text' name="name" ng-model='user.username' ng-minlength="3" ng-maxlength="16" required>
    <p ng-show="signupForm.name.$invalid" class="help-block">Your name is required.</p>
    <p ng-show="signupForm.name.$error.minlength" class="help-block">Your name is too short.</p>
    <p ng-show="signupForm.name.$error.maxlength" class="help-block">Your name is too long.</p>
    <input type="password" name='password' ng-model='user.password' ng-minlength="6" ng-maxlength="12" required>
    <p ng-show="signupForm.password.$invalid" class="help-block">Your password is required.</p>
    <p ng-show="signupForm.password.$error.minlength" class="help-block">Your password is too short.</p>
    <p ng-show="signupForm.password.$error.maxlength" class="help-block">Your password is too long.</p>
    <button ng-disabled="signupForm.$invalid">signup</button>
  </form>
  <a href="#/signin">Already have an account? <strong>Signin</strong> ...</a>
</div>
