<div id='signin'>
  <h1>signin</h1>
  
  <form name="signinForm" ng-submit='signin(signinForm.$valid)' novalidate>
    <input type='text' name='name' ng-model='user.username' ng-minlength="3" ng-maxlength="16" required>
    <p ng-show="signinForm.name.$invalid" class="help-block">Your name is required.</p>
    <p ng-show="signinForm.name.$error.minlength" class="help-block">Your name is too short.</p>
    <p ng-show="signinForm.name.$error.maxlength" class="help-block">Your name is too long.</p>
    <input type="password" name='password' ng-model='user.password' ng-minlength="6" ng-maxlength="12" required>
    <p ng-show="signinForm.password.$invalid" class="help-block">Your password is required.</p>
    <p ng-show="signinForm.password.$error.minlength" class="help-block">Your password is too short.</p>
    <p ng-show="signinForm.password.$error.maxlength" class="help-block">Your password is too long.</p>
    <button ng-disabled="signinForm.$invalid">signin</button>
  </form>
  <a href="#/signup">Don't have an account? <strong>Signup</strong> ...</a>
</div>
